@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, small, strike, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, aside,
section, article, header, footer, main, input, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
    background: none;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html * {
    max-height: 1000000px;
}
input, textarea {
    font: inherit;
}
button {
    cursor: pointer;
	border: none;
	outline: none;
    background: none;
}
html, body {
    height: 100%;
}

/* common */
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover > span {
    text-decoration: underline;
}
.container {
    margin: 0 auto;
    width: 1320px;
}

/* main */
body {
    font: 20px/30px 'Roboto';
    background: #fff;
    color: #666;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
header {
    flex: none;
    background: rgb(13,110,253);
    color: #fff;
}
main {
    flex: 1 1 auto;
}
footer {
    flex: none;
    background: rgb(108,117,125);
    color: #fff;
}

/* modals */
.screener {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}
.modal {
    background: white;
    border-radius: 10px;
    position: fixed;
    left: calc(50% - 240px);
    width: 400px;
    top: 200px;
    padding: 40px;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: red;
    font-size: 40px;
    line-height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
}
.close:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
}
#citymodal p {
    color: blue;
    cursor: pointer;
}
#citymodal p:hover {
    text-decoration: underline wavy blue;
}

/* header */
#city {
    cursor: pointer;
    font-weight: 500;
}
.topmenu {
    padding: 10px 0;
}
.topmenu a {
    display: inline-block;
    margin-left: 20px;
    color: #eee;
}
.topmenu a:first-child {
    margin-left: 0;
}
.topmenu a::before {
    content: '\220E';
    padding-right: 20px;
}
.topmenu a:first-child::before {
    display: none;
}


/* action */
.action {
    background: red;
    padding: 30px;
    color: yellow;
}
.action .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60px;
}
.action p {
    width: 50%;
    text-align: center;
}
.actiontimer {
    display: block;
}

/* slider */
.slider {
    padding: 30px;
}
.slider_desk {
    border: 1px solid black;
    width: 419px;
    height: 572px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background: #fff;
}
.slider_block {
    border: 1px solid black;
    width: 417px;
    height: 570px;
    position: absolute;
    z-index: -1;
    top: 0;
    transition: left 1.5s;
    background: #fff;
}
.slider_block.current {
    left: 0;
    z-index: 1;
}
.slider_block.next {
    left: 419px;
    z-index: 1;
}
.slider_block.prev {
    left: -419px;
    z-index: 1;
}











/* adaptive */
@media (max-width: 1400px) {
    .container {
        width: auto;
        margin: 0 40px;
    }
}