@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6,
p, a, em, img, small, strike, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, aside,
section, article, header, footer, main, input, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
    background: none;
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html * {
    max-height: 1000000px;
}
input, textarea {
    font: inherit;
}
button {
    cursor: pointer;
	border: none;
	outline: none;
    background: none;
}
html, body {
    height: 100%;
}

/* common */
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover > span {
    text-decoration: underline;
}
h1 {
    font-size: 40px;
    line-height: 50px;
}
.container {
    margin: 0 auto;
    width: 1320px;
}

/* icons */
.icon::before {
    font-family: 'icomoon';
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: white;
    text-align: center;
}
/*.icon:hover::before {
    color: lightblue;
}
.logo::before {
    content: '\e900';
}
.login::before {
    content: '\e902';
}
.order::before {
    content: '\e901';
}
.cat::before {
    content: '\e903';
}*/
.to_left::before {
    content: '\e905';
}
.to_right::before {
    content: '\e904';
}

/* main */
body {
    font: 20px/30px 'Roboto';
    background: #fff;
    color: #666;
    display: flex;
    flex-direction: column;
    min-width: 320px;
}
header {
    flex: none;
    background: #442e54;
    color: #FFF;
}
main {
    flex: 1 1 auto;
}
footer {
    flex: none;
    background: #3c314d;
    color: #fff;
}

/* modals */
.screener {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
}
.modal {
    background: white;
    border-radius: 10px;
    position: fixed;
    left: calc(50% - 240px);
    width: 400px;
    top: 200px;
    padding: 40px;
    z-index: 101;
    
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: red;
    font-size: 40px;
    line-height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
}
.close:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
}
#citymodal p {
    color: black;
    cursor: pointer;
}
#citymodal p:hover {
    text-decoration: underline double black;
}
#citysearch {
    border: 1px solid gray;
    color: black;
    display: block;
    padding: 5px 15px;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}
#citysearch::placeholder {
    color: #b2aeb5;
    font-style: italic;
}
.columns {
    columns: 185px 2;
    gap: 30px;
}



/* header */
.cont1 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 300px;
}
#city {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}
#city::before {
    font-family: 'IcoMoon-Free';
    content: "\e947";
    padding-right: 5px;
}
.cont2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/logo.png') center center no-repeat;
    background-size: cover;
    margin-right: 20px;
    margin-top: 10px;
    
}
.poisk {
    display: inline-block;
    width: 428px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
    font-size: 14px;
    
}
.iskat{
    display: inline-block;
    width: 80px;
    height: 30px;
    border: 1px solid #fff;
    background: #fff;
    color: red;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px;
}

.user {
    display: inline-block;
    font-family: 'IcoMoon-Free';
    width: 50px;
    height: 40px;
    margin-right: 30px;
    margin-top: 10px;
    box-sizing: border-box;
}
.user::before {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'IcoMoon-Free';
    content: "\e971";
    width: 35px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-left:20px;
}
.basket {
    display: inline-block;
    font-family: 'IcoMoon-Free';
    width: 50px;
    height: 40px;
    margin-right: 20px;
    margin-top: 10px;
    box-sizing: border-box;
}
.basket::before {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'IcoMoon-Free';
    content: "\e93a";
    width: 35px;
    height: 35px;
    font-size: 28px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
}
.cont3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.topmenu {
    padding: 10px 0;
}
.topmenu a {
    display: inline-block;
    margin-left: 20px;
    color: #eee;
}
.topmenu a:first-child {
    margin-left: 0;
}
.topmenu a::before {
    content: '\220E';
    padding-right: 20px;
}
.topmenu a:first-child::before {
    display: none;
}
.topmenu .glavstr {
    cursor: default;
    font-weight: 700;
}
.topmenu .glavstr:hover span {
    text-decoration: none;
}

/* action */
.action {
    background: url('../images/action.png') center center no-repeat;
    background-size: cover;
    padding: 30px;
    color: #3d3642;
    height: 400px;
}
.action .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    align-content: center;
    margin-top: 100px;
    gap: 60px;
    height: 60px;
}
.action p {
    width: 50%;
    text-align: center;
    font-weight: 500;
}
.nasha a{
    font-weight: 500;
    color: #3d3642;
}
.action button {
    display: inline-block;
    width: 80px;
    height: 30px;
    background: #442e54;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
    border: 1px solid #fff;
    box-shadow: inset 0 0 10px rgba(0,0,0,.25);
}
.actiontimer {
    display: block;
    color: red;
}

/* slider */
.slider {
    width: 1200px;
    height: 600px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    
}
.img1 div{
    color: white;
    text-align: left;
    position: absolute;
    width: 350px;
    top: 20px;
    left: 20px;
    z-index:10;
}
.img1 a{
    color: white;
}
.img2 div{
    color: black;
    text-align: left;
    position: absolute;
    width: 250px;
    top: 20px;
    left: 20px;
    z-index:10;
}
.img2 a{
    color: black;
}
.img3 div{
    color: black;
    text-align: left;
    position: absolute;
    width: 250px;
    top: 20px;
    left: 20px;
    z-index:10;
}
.img3 a{
    color: black;
}
.img1 a::after{
    font-family: 'IcoMoon-Free';
    content: '\ea42';
    
}
.img2 a::after{
    font-family: 'IcoMoon-Free';
    content: '\ea42';
}
.img3 a::after{
    font-family: 'IcoMoon-Free';
    content: '\ea42';
}

.img1 img{
    height: auto;
    width: 100%;
}
.img2 img{
    height: auto;
    width: 100%;
}
.img3 img{
    height: auto;
    width: 100%;
}
.slider_desk {
    border: 1px solid silver;
    border-radius: 10px;
    width: 1200px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slider_block {
    border: 1px solid silver;
    width: 1200px;
    height: 600px;
    position: absolute;
    z-index: -1;
    top: 0;
    background: #fff;
}
.slider_block.next {
    left: 1200px;
    z-index: 1;
}
.slider_block.prev {
    left: -1200px;
    z-index: 1;
}
.slider_block.was_current {
    transition: left .5s;
}
.slider_block.current {
    left: 0;
    z-index: 1;
    transition: left .5s;
}
.slider button {
    position: absolute;
    border: 1px solid #fff;
    height: 40px;
    width: 60px;
    border-radius: 8px;
    top: 300px;
    z-index: 1;
    cursor: pointer;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
    opacity: 0;
}
.slider .to_left {
    left: 40px;
}
.slider .to_right {
    right: 40px;
}
.slider_points {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    height: 24px;
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 100;
}
.slider_points span {
	flex: none;
    border-radius: 50%;
	border: 1px solid #fff;
	height: 22px;
	width: 22px;
	cursor: pointer;
    opacity: 0;
}
.slider_points span.active {
    background: #fff;
}
.slider_desk:hover ~ button,
.slider button:hover,
.slider_desk:hover ~ .slider_points span,
.slider_points:hover span {
    opacity: 1;
}

/*novinki*/

.anons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
    
}
.anons div {
    width:383px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
.pods img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}
.pods div{
    color: black;
    text-align: left;
    position: absolute;
    width: 200px;
    box-shadow: none;
    border-radius: none;
    top: 10px;
    left: 10px;
    z-index: 20;
}
.pods a{
    color: black;
    font-size: 16px;
}
.pods a::after{
    font-family: 'IcoMoon-Free';
    content: '\ea42';
    
}
.poco div{
    color: black;
    text-align: left;
    position: absolute;
    width: 200px;
    box-shadow: none;
    border-radius: none;
    top: 10px;
    left: 10px;
    z-index: 20;
}
.poco img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.poco a{
    color: black;
    font-size: 16px;
}
.poco a::after{
    font-family: 'IcoMoon-Free';
    content: '\ea42';
    
}
.plan div{
    color: black;
    text-align: left;
    position: absolute;
    width: 200px;
    box-shadow: none;
    border-radius: none;
    top: 10px;
    left: 10px;
    z-index: 20;
}
.plan img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.plan a{
    color: black;
    font-size: 16px;
}
.plan a::after{
    font-family: 'IcoMoon-Free';
    content: '\ea42';
    
}







/* catalog */
.catalog .container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.catalog aside {
    flex: 0 0 360px;
    background: #546;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.catmenu {
    padding: 20px;
}
.catmenu a {
    color: white;
}
.catmenu ul {
    margin-top: 10px;
}
.catmenu > ul > li {
    padding: 5px 30px 5px 0;
    border-top: 1px dashed white;
}
.catmenu ul ul {
    margin: 0;
    position: relative;
    left: 30px;
}
.catmenu ul ul::before {
    content: '\23f7';
    position: absolute;
    top: -30px;
    right: 0;
    transition: transform 1s;
    cursor: pointer;
}
.catmenu .open::before {
    transform: rotateX(180deg);
}
.catmenu li li {
    font-size: 14px;
    line-height: 30px;
}
.catmenu.simple li li {
    display: none;
}
.catmenu.simple .open li {
    display: list-item;
}
.catalog .filters {
    padding: 20px;
}
.filters label {
    font-size: 16px;
}
#slider-range {
    margin: 20px 0;
    color: #fff
}
#slider-range .ui-widget-header {
    background: red;
}
#amount1, #amount2{
    color: red;
    font-weight: 500;
}
.sposob {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sposob span {
    font-size: 16px;
    margin-left: 5px;
}
.pamyat {
    margin-left: 20px;
    
}
.pamyat span {
    font-size: 16px;
    margin-left: 5px;
}

.cvet {
    margin-left: 20px;
    margin-top: 20px;
}
.cvet span {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-left: 5px;
    border-radius: 10px;
}
.cvet .red {
    
    width: 50px;
    height: 20px;
    background: red;
    margin-left: 5px;
    margin-top: 10px;
}
.cvet .yellow {
    
    width: 50px;
    height: 20px;
    background: yellow;
    margin-left: 5px;
    margin-top: 10px;
}
.cvet .green {
    
    width: 50px;
    height: 20px;
    background: #1bad18;
    margin-left: 5px;
    margin-top: 10px;
}


.catalog article {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}


.cat-item {
    width: 140px;
    height: 290px;
    border: 5px solid #b4acbd;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.cat-item a {
    
    color: black;
    font-weight: 600;
}
.cat-item a::after{
    font-family: 'IcoMoon-Free';
    content: '\ea42';
}
.cat-item button {
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #442e54;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 15px;
    border: 1px solid #b4acbd;
}
.cat-item span {
    display: inline-block;
    font-size: 25px;
    color: black;
    margin-top: 20px;
}
.pocowatch {
    background: url('../images/pocowatch.png') bottom center no-repeat;
}
.sband7 {
    background: url('../images/band7.png') bottom center no-repeat;
}
.buds{
    background: url('../images/buds3tpro.png') bottom center no-repeat;
}
.sam1s {
    background: url('../images/1s.png') bottom center no-repeat;
}
.sampro {
    background: url('../images/pro.png') bottom center no-repeat;
}
.ves {
    background: url('../images/vesy.png') bottom center no-repeat;
}
.zub {
    background: url('../images/zubshetka.png') bottom center no-repeat;
}
.fen {
    background: url('../images/fen1.png') bottom center no-repeat;
}
.redmipad {
    background: url('../images/redmipad.png') bottom center no-repeat;
}
.note10 {
    background: url('../images/redminote10pro.png') bottom center no-repeat;
}
.note11 {
    background: url('../images/redminote11pro.png') bottom center no-repeat;
}
.pocof4 {
    background: url('../images/pocof4.png') bottom center no-repeat;
}
.pocom4 {
    background: url('../images/pocom4.png') bottom center no-repeat;
}
.pocom5 {
    background: url('../images/pocom5.png') bottom center no-repeat;
}
.tpro11 {
    background: url('../images/11tpro.png') bottom center no-repeat;
}
.x12 {
    background: url('../images/12x.png') bottom center no-repeat;
}
.tpro12 {
    background: url('../images/12tpro.png') bottom center no-repeat;
}
.pad5 {
    background: url('../images/pad5.png') bottom center no-repeat;
}







/* footer*/

footer li{
    font-size: 16px;
    color: silver;
}
footer ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

.stolbiki{
    display: flex;
    gap: 30px;
    padding: 40px auto;
    justify-content: center;
}
.liner {
    height: 0;
    border-top: 1px solid silver;
}
.copy {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: LightGrey;

}
.phone::before{
    font-family: 'IcoMoon-Free';
    content: '\e942';
    margin-right: 10px;
}
.pochta::before{
    font-family: 'IcoMoon-Free';
    content: '\ea84';
    margin-right: 10px;
}
.social::before{
    font-family: 'IcoMoon-Free';
    content: '\ea95'' ''\ea91'' ''\ea98'' ''\ea93';
    margin-right: 10px;
}


/* adaptive */
@media (max-width: 1400px) {
    .container {
        width: auto;
        margin: 0 40px;
    }
}