table {
    border-collapse: collapse;
    outline: 1px solid black;
    width: 920px;
}
td {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 60px;
}
tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
    background: gray;
}
th {
    background: lightgray;
}
tr:first-child th, tr:last-child th {
    height: 50px;
}
th:first-child, th:last-child {
    width: 50px;
}
.td {
    background: gray;
}
.cellfrom {
    outline: 3px dashed yellow;
}
.cellto {
    outline: 3px dashed pink;
}