@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* global reset */
html, body, body div, div, span, label, h1, h2, h3, h4, h5, h6, p, a, em, img, s, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, button, form, fieldset, article, aside, footer, header, main, nav, section, input, textarea, select, option {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
html * {
    max-height: 1000000px;
}

/* common */
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
}
p {
    color: #1f3f68;
    opacity: 0.6;
}
h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

/* structure */
html {
    height: 100%;
}
body {
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    font: normal 400 16px/26px 'Roboto';
    letter-spacing: 0.05em;
}
header {
    height: 116px;
    flex: none;
    position: relative;
    z-index: 1;
}
footer {
    height: 657px;
    background: #316099;
    flex: none;
}
main {
    flex: auto;
    margin-top: -116px;

}





.container1 {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0)31.12%);
}
.container1 .container{
    padding: 183px 0 94px;
    height: 491px;
    background: url('../images/illustration.png') right 183px no-repeat;
}

h1{
    width: 518px;
    height: 148px;
    font: normal 300 64px/74px 'Roboto';
    text-align: left;
    letter-spacing: 0.04em;
    margin-top: 10px;
    color: #1F3F68;
}
main p{
    width: 437px;
    height: 82px;
    font: normal 400 16px/26px 'Roboto';
    text-align: left;
    letter-spacing: 0.05em;
    margin-top: 32px;
    color: #1F3F68;
    opacity: 0.6;
}
main button {
    width: 226px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba (523, 110, 173, .2);
    border-radius: 10px;
    color: white;
    margin-top: 71px;
}
main h2{
    position: relative;
    padding: 64px 113px;
    font: normal 300 36px/46px 'Roboto';
    letter-spacing: 0.05em;
}
.triorow{
    display: grid;
    gap: 32px;
    grid-template-columns: 359px 359px 359px;
    justify-content: center;
    margin-left: 113px;
    margin-right: 113px;
}
.tri1{
    width: 359px;
    height: 480px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177,0.2);
    border-radius: 10px;
    background: url('../images/1.png') center 43px no-repeat;
}
.triorow h4{
    margin-top: 216px;
    margin-left: 32px;
    font: normal 400 20px/30px 'Roboto';
    letter-spacing: 0.05em;
    color: #1F3F68;
}
.triorow h5{
    margin-top: 14px;
    margin-left: 32px;
    font: normal 400 16px/26px 'Roboto';
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.triorow p{
    margin-top: 30px;
    margin-left: 32px;
    font: normal 400 14px/30px 'Roboto';
    letter-spacing: 0.05em;
    color: #5A98D0;
}
.tri2{
    width: 359px;
    height: 480px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177,0.2);
    border-radius: 10px;
    background: url('../images/group 15.png') center 43px no-repeat;
}
.tri3{
    width: 359px;
    height: 480px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177,0.2);
    border-radius: 10px;
    background: url('../images/2 20.png') center 43px no-repeat;
}
main a{
    display: block;
    width: 23px;
    height: 22px;
    float: right;
    margin-top: -80px;
    margin-right: 200px;
}
main h3{
    margin-right: 113px;
    margin-bottom: 32px;
    margin-left: 113px;
    margin-top: 54px;
    font: normal 300 36px/46px 'Roboto';
    letter-spacing: 0.05em;
    text-align: center;
}


.container5 h5{
    margin-right: 113px;
    margin-bottom: 64px;
    margin-left: 113px;
    font: normal 400 16px/26px 'Roboto';
    letter-spacing: 0.05em;
    text-align: center;
    color: #222222;
}

.smart{
    display: grid;
    gap: 32px;
    grid-template-areas: "a a" "b c";
    margin-bottom: 122px;
    justify-content: center;
    
}
.smart1{
    
    width: 1140px;
    height: 480px;
    border-radius: 10px;
    grid-area: a;
    background: url('../images/home.png') no-repeat;
}
.smart1 h4{
    font: normal 400 32px/46px 'Roboto';
    letter-spacing: 0.05em;
    text-align: right;
    color: white;
    padding: 64px 64px ;
}
.smart2{
    width: 554px;
    height: 417px;
    border-radius: 10px;
    grid-area: b;
    background: url('../images/phones.png') no-repeat;
}
.smart2 h5{
    font: normal 400 28px/46px 'Roboto';
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
    margin-left: 32px ;
    margin-top: 32px;
}
.smart3{
    width: 554px;
    height: 417px;
    border-radius: 10px;
    grid-area: c;
    background: url('../images/car.png') no-repeat;
}    
.smart3 h6{
    
    font: normal 400 28px/46px 'Roboto';
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
    margin-left: 32px ;
    margin-top: 32px;
}

/* header */
header .container {
    height: 48px;
    padding: 34px 0;
}
.logo {
    float: left;
    width: 46px;
    height: 48px;
    background: url('../images/logo.png') center center no-repeat;
}
.user {
    float: right;
    width: 34px;
    height: 48px;
    background: url('../images/user.png') center center no-repeat;
}

/* footer */
.liner {
    height: 0;
    border-top: 1px solid rgba(255,255,255,.4);
}
footer button {
    float: right;
    background: #5a98d0;
    height: 56px;
    width: 237px;
    color: #fff;
    letter-spacing: 0.04em;
    margin: 100px 0 106px 408px;
}
footer .container {
    padding: 64px 0;
    overflow: hidden;
}
footer h2 {
    color: #fff;
    text-align: left;
    margin: 27px 0 32px;
}
footer p {
    color: #fff;
}
ol + p {
    opacity: 0.4;
}
ol {
    list-style-type: upper-alpha;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 22px;
}
ol li {
    width: 336px;
}
ol li::before {
    width: 20px;
    height: 30px;
    float: left;
    content: '';
}






/* main */

/* adaptive */
@media screen and (max-width:1204px) {
    .container {
        width: auto;
        margin: 0 32px;
    }
    footer {
        height: 654px;
    }
    footer .container {
        padding: 64px 92px;
    }
    footer button {
        height: 32px;
        width: 133px;
        margin: 95px 0 65px 0;
    }
    footer h2 {
        width: 336px;
        margin: -16px 0 22px;
    }
    footer p {
        width: 336px;
    }
    ol {
        display: block;
        margin-bottom: 53px;
    }
    ol li {
        width: auto;
        margin-bottom: 19px;
    }
    ol li::before {
        height: 10px;
        width: 40px;
    }
    .container1 .container{
    padding: 188px 0 32px;
    height: 472px;
    background: url('../images/illustration1.png') right 368px no-repeat;
    }
    h1{
    width: 506px;
    height: 148px;
    text-align: left;
    letter-spacing: 0.04em;
    }
    main p{
    width: 425px;
    height: 82px;
    text-align: left;
    letter-spacing: 0.05em;
    margin-top: 32px;
    }
    main button {
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba (523, 110, 173, .2);
    border-radius: 10px;
    color: white;
    margin-top: 72px;
    }
    main h2{
    position: relative;
    padding: 83px 32px 64px 32px;
    font: normal 300 36px/46px 'Roboto';
    letter-spacing: 0.05em;
    text-align: center;
    }

    .triorow{
    display: grid;
    grid-template-columns: 336px;
    grid-template-rows: 451px 451px 451px;
    grid-template-areas: "a" "b" "c";
    justify-content: center;
    }
    .tri1{
        width: 336px;
        height: 451px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177,0.2);
        border-radius: 10px;
        background: url('../images/1.png') center 43px no-repeat;
        grid-area: a;
    }
    .triorow h4{
        margin-top: 201px;
        margin-left: 32px;
        font: normal 400 20px/30px 'Roboto';
        letter-spacing: 0.05em;
        color: #1F3F68;
        
    }
    
    .triorow h5{
        margin-top: 13px;
        margin-left: 32px;
        font: normal 400 16px/26px 'Roboto';
        letter-spacing: 0.05em;
        color: #1F3F68;
        opacity: 0.6;
    }
    /*.tri1 h5{
        margin-left: 30px;
        margin-right: 55px;
        
    }*/
    .triorow p{
        margin-top: 26px;
        margin-left: 32px;
        font: normal 400 14px/30px 'Roboto';
        letter-spacing: 0.05em;
        color: #5A98D0;
    }
    .tri2{
        width: 336px;
        height: 451px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177,0.2);
        border-radius: 10px;
        background: url('../images/group 15.png') center 43px no-repeat;
        grid-area: b;
    }
    .tri3{
        width: 336px;
        height: 451px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177,0.2);
        border-radius: 10px;
        background: url('../images/2 20.png') center 43px no-repeat;
        grid-area: c;
    }
    
    main h3{
        padding: 127px 32px 32px 32px;
        font: normal 300 36px/46px 'Roboto';
        letter-spacing: 0.05em;
        text-align: center;
    }
    
    .container5 h5{
    width: 520px;
    
    margin-right: auto;
    margin-bottom: 64px;
    margin-left: auto;
    font: normal 400 16px/26px 'Roboto';
    letter-spacing: 0.05em;
    text-align: center;
    color: #222222;
    }
    
    
    
    
    .smart{
    display: grid;
    gap: 32px;
    grid-template-areas: "a a" "b c";
    margin-bottom: 122px;
    justify-content: center;
    
}
    .smart1{
        
        width: 705px;
        height: 297px;
        border-radius: 10px;
        grid-area: a;
        background: url('../images/home.png') no-repeat;
        background-size: cover;
    }
    .smart1 h4{
        font: normal 400 32px/46px 'Roboto';
        letter-spacing: 0.05em;
        text-align: right;
        color: white;
        padding: 64px 64px ;
    }
    .smart2{
        width: 336px;
        height: 253px;
        border-radius: 10px;
        grid-area: b;
        background: url('../images/phones.png') no-repeat;
        background-size: cover;
    }
    .smart2 h5{
        font: normal 400 28px/46px 'Roboto';
        letter-spacing: 0.05em;
        text-align: left;
        color: white;
        margin-left: 20px ;
        margin-top: 20px;
    }
    .smart3{
        width: 336px;
        height: 253px;
        border-radius: 10px;
        grid-area: c;
        background: url('../images/car.png') no-repeat;
        background-size: cover;
    }    
    .smart3 h6{
        
        font: normal 400 28px/46px 'Roboto';
        letter-spacing: 0.05em;
        text-align: left;
        color: white;
        margin-left: 20px ;
        margin-top: 20px;
    }
       
        
 












 
    
}
@media screen and (max-width:767px) {
    .container {
        margin: 0 16px;
    }
    header {
        height: 80px;
    }
    header .container {
        padding: 16px 0;
    }
    main {
        margin-top: -80px;
    }
    footer {
        height: 553px;
    }
    footer .container {
        display: flex;
        flex-direction: column;
        padding: 18px 0 40px;
    }
    footer button {
        order: 1;
        float: none;
        width: 108px;
        margin: 33px auto 0;
    }
    footer h2 {
        width: auto;
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0px;
        margin: 0 0 27px;
    }
    footer p {
        width: auto;
        text-align: center;
    }
    ol {
        margin: 14px 0 11px 22px;
    }
    ol li {
        line-height: 19px;
    }
    ol li::before {
        height: 20px;
        width: 20px;
    }
    
}